<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1></h1>
    <p>Welcome to TACO TOWN TWO</p>
    <a href="/inventory">Inventory Transfer</a>
  </body>
</html>
